<section class="content-header">

</section>
<!-- Main content -->

<!-- /.content -->
<section class="content animated slideInLeft scrollingFunction" id="scroll_function">
    <div class="col-md-12">
        <div class="row">
            <div class="systemTasks">
                <ul class="nav nav-tabs"
                    style="padding-top: 5px; background: linear-gradient(45deg, #067cab, #26A69A);">
                    <li style="margin-left:10px;" class="active">
                        <a data-target="#_ETYPE" ng-click="loadTypePlans('_AUXTYPE')" data-toggle="tab"
                            aria-expanded="true">E-type/Aux loads</a>
                    </li>
                    <li style="margin-left:10px;">
                        <a data-target="#_MACHEADER" ng-click="loadTypePlans('_MACHEADER')" data-toggle="tab"
                            aria-expanded="true">Macro/Header/Include</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <!-- ng-if="showETYPETab" -->
                    <div ng-if="showAUXTYPETab" class="tab-pane active" id="_AUXTYPE">

                        <div ng-if="vm.impPlanList.length == 0"
                            style="background-color:#fff;text-align:center;font-size:20px;padding:100px 0px;">
                            <b>No implementation plans found</b>
                        </div>
                        <div class="row" ng-if="vm.impPlanList.length !== 0">
                            <div class="col-md-12 leadTotalCount">
                                <span> Total number of items: <span class="templateCountSize">
                                        {{vm.totalNumberOfItem}}</span> </span>
                            </div>
                        </div>
                        <div class="row" style="margin: 10px 0px;">
                            <div class="col-md-12">
                                <div ng-if="vm.impPlanList.length !== 0" class="row">
                                    <div class="col-md-3" style="display: inline-flex;"
                                        ng-show="vm.totalNumberOfItem < pageSizeList[0]"></div>
                                    <div class="col-md-3" style="display: inline-flex;"
                                        ng-show="vm.totalNumberOfItem >= pageSizeList[0]">
                                        <span style="padding: 10px;">Show</span>
                                        <select class="form-control" style="padding:10px;width: 40%;"
                                            ng-change="switchPageSize()" ng-model="tableConfig.pageSize">
                                            <option value="{{psVal}}" ng-selected="{{psVal==tableConfig.pageSize}}"
                                                ng-repeat="psVal in pageSizeList">{{psVal}}</option>
                                        </select>
                                        <span style="padding:10px">entries</span>
                                    </div>
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6">
                                        <dir-pagination-controls boundary-links="true"
                                            on-page-change="pageChangeHandler(newPageNumber)"
                                            pagination-id="tablePagination"></dir-pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="vm.impPlanList.length !== 0" class="row textCenter divTableHeader">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-1 unselectable nopadding">
                                <span class="noClickProp" ng-click="sort('id')">
                                    Plan ID
                                    <span >
                                        <i
                                            class="fa fa-long-arrow-down {{sortColumn.id.asc ? '' : 'sortDisabled'}}"></i>
                                        <i class="fa fa-long-arrow-up {{sortColumn.id.desc ? '' : 'sortDisabled'}}"></i>
                                    </span>
                                </span>
                            </div>
                            <div class="col-md-2 unselectable">
                                <span class="noClickProp" ng-click="sort('planDesc')">
                                    Description
                                    <span >
                                        <i
                                            class="fa fa-long-arrow-down {{sortColumn.planDesc.asc ? '' : 'sortDisabled'}}"></i>
                                        <i
                                            class="fa fa-long-arrow-up {{sortColumn.planDesc.desc ? '' : 'sortDisabled'}}"></i>
                                    </span>
                                </span>
                            </div>
                            <div class="col-md-3 unselectable textCenter" style="width: 26%;">
                                    <div class="row">
                                        <div class="col-md-4 " style="width: 45%;">
                                            Target System
                                        </div>
                                        <div class="col-md-8" style="width: 55%;"ng-click="sort('loaddatetime')">
                                            Load Date/Time
                                            <span >
                                                <i class="fa fa-long-arrow-down {{sortColumn.loaddatetime.asc ? '' : 'sortDisabled'}}"></i>
                                                <i class="fa fa-long-arrow-up {{sortColumn.loaddatetime.desc ? '' : 'sortDisabled'}}"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            
                            <div class="col-md-2 unselectable" style="width: 15%;">
                                <!--<span class="noClickProp" ng-click="sort('planStatus')">-->
                                Status</div>
                            <div class="col-md-1 nopadding unselectable" style="width: 9%;">
                                <span class="noClickProp" ng-click="sort('createdBy')">
                                    Created By
                                    <span >
                                        <i
                                            class="fa fa-long-arrow-down {{sortColumn.createdBy.asc ? '' : 'sortDisabled'}}"></i>
                                        <i
                                            class="fa fa-long-arrow-up {{sortColumn.createdBy.desc ? '' : 'sortDisabled'}}"></i>
                                    </span>
                                </span>
                            </div>
                            <div class="col-md-1" style="width: 10%;">Actions</div>
                        </div>
                        <div dir-paginate="pObj in vm.impPlanList | filter: q | itemsPerPage: tableConfig.pageSize"
                            total-items="tableConfig.totalItems" current-page="tableConfig.currentPage"
                            pagination-id="tablePagination">
                            <div class="row textCenter {{pObj.id}} divTableBody hoverCurrentRow">
                                <div class="col-md-1">
                                    <a ng-if="pObj.expanded" ng-click="pObj.expanded = false;" aria-label="{{pObj.id}}">
                                        <i class="fa fa-minus-square" style="font-size: 1.2em;color:#ff5722;"></i>
                                    </a>
                                    <a ng-if="!pObj.expanded"
                                        ng-click="pObj.expanded = true;loadSystemImplApproverList(pObj);"
                                        aria-label="{{pObj.id}}">
                                        <i class="fa fa-plus-square" style="font-size: 1.2em;"></i>
                                    </a>
                                </div>
                                <div ng-class="pObj.loadType === 'STANDARD' ? '' : 'exceptionRowColor'"
                                    class="col-md-1" >
                                    {{pObj.id}}
                                </div>
                                <div class="col-md-2 displayDesc2" style="word-wrap: break-word;">
                                    {{pObj.planDesc }}<md-tooltip class="searchTooltip">{{pObj.planDesc}}</md-tooltip>
                                </div>
                                <div class="col-md-3">
                                    <div style="border-bottom:0px;" ng-repeat="syslrObj in pObj.systemLoadList">
                                        <span class="col-md-4">
                                            {{syslrObj.systemId.name}}
                                        </span>
                                        <span class="col-md-8">
                                            {{syslrObj.loadDateTime | dCheck}}
                                            </spa>
                                    </div>
                                </div>
                                <div class="col-md-2" style="width: 15%;">
                                    <span plan-status-to-display-label="{{pObj.planStatus}}"></span>
                                </div>

                                <div class="col-md-1" style="width: 10%;">
                                    {{pObj.createdBy}}
                                </div>
                                <div class="col-md-2">
                                    <div class="text-primary" ng-if="vm.ar_status[pObj.id]">
                                        <i class="fa fa-spinner fa-pulse"></i>
                                    </div>
                                    <div class="col-md-2">
                                        <!-- ng-if="getActionLeadAccess(vm.currentUser.id,pObj.plan)" -->
                                        <div class="btn-group btnLeft">
                                            <button plan-action-control action="edit" status="{{pObj.plan.planStatus}}"
                                                username="{{pObj.plan.leadId}}"
                                                ui-sref="app.updateImpPlan({planId:pObj.id})" style="background:#ddd;"
                                                class="btn btn-xs">
                                                <md-tooltip md-direction='top'>Edit</md-tooltip><span
                                                    style="font-size: 12px;">
                                                    <i class="fa  fa-edit"></i></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="btn-group dropdown-option status-option" ng-if="!vm.ar_status[pObj.id]">
                                        <button type="button" class="btn btn-info themeButton btn-xs">Action</button>
                                        <button type="button" class="btn btn-info themeButton btn-xs dropdown-toggle"
                                            aria-label="manager_action_{{pObj.id}}"
                                            style="padding-left: 6px;padding-right: 6px;" data-toggle="dropdown"
                                            aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu devManager" style="left:-130% !important;" role="menu">
                                            <li>
                                                <a pId="{{pObj}}" aria-label="Approve_{{pObj.id}}">Approve</a>
                                            </li>
                                            <li>
                                                <a pId="{{pObj}}" aria-label="Reject_{{pObj.id}}">Reject</a>
                                            </li>
                                        </ul>
                                        <!-- <ul class="dropdown-menu status-menu" role="menu">
                                                                                                    <li><a pId="{{pObj.id}}">Approve</a></li>
                                                                                                    <li><a pId="{{pObj.id}}">Reject</a></li>
                                                                                                </ul> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row animated fadeIn labelFix" style="margin:0px;" ng-if="pObj.expanded">
                                <div ng-include='templatePath+"/impPlan.template.html"'></div>
                            </div>
                        </div>
                        <div class="row" style="margin: 10px 0px;">
                            <div class="col-md-12">
                                <div ng-if="vm.impPlanList.length !== 0" class="row">
                                    <div class="col-md-3" style="display: inline-flex;"
                                        ng-show="vm.totalNumberOfItem < pageSizeList[0]"></div>
                                    <div class="col-md-3" style="display: inline-flex;"
                                        ng-show="vm.totalNumberOfItem >= pageSizeList[0]">
                                        <span style="padding: 10px;">Show</span>
                                        <select class="form-control" style="padding:10px;width: 40%;"
                                            ng-change="switchPageSize()" ng-model="tableConfig.pageSize">
                                            <option value="{{psVal}}" ng-selected="{{psVal==tableConfig.pageSize}}"
                                                ng-repeat="psVal in pageSizeList">{{psVal}}</option>
                                        </select>
                                        <span style="padding:10px">entries</span>
                                    </div>
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6">
                                        <dir-pagination-controls boundary-links="true"
                                            on-page-change="pageChangeHandler(newPageNumber)"
                                            pagination-id="tablePagination"></dir-pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div ng-if="showMACHEADERTab" class="tab-pane active" id="_MACHEADER">

                        <div ng-if="vm.loadsetReadyList.length == 0"
                            style="background-color:#fff;text-align:center;font-size:20px;padding:100px 0px;">
                            <b>No tasks found</b>
                        </div>
                        <div class="row" ng-if="vm.loadsetReadyList.length != 0">
                            <div class="col-md-12 leadTotalCount">
                                <span> Total number of items: <span class="templateCountSize">
                                        {{vm.totalNumberOfItem}}</span> </span>
                            </div>
                        </div>
                        <div class="row" style="margin: 10px 0px;">
                            <div class="col-md-12">
                                <div ng-if="vm.loadsetReadyList.length !== 0" class="row">
                                    <div class="col-md-3" style="display: inline-flex;"
                                        ng-show="vm.totalNumberOfItem < pageSizeList[0]"></div>
                                    <div class="col-md-3" style="display: inline-flex;"
                                        ng-show="vm.totalNumberOfItem >= pageSizeList[0]">
                                        <span style="padding: 10px;">Show</span>
                                        <select class="form-control" style="padding:10px;width: 40%;"
                                            ng-change="switchPageSize()" ng-model="tableConfig.pageSize">
                                            <option value="{{psVal}}" ng-selected="{{psVal==tableConfig.pageSize}}"
                                                ng-repeat="psVal in pageSizeList">{{psVal}}</option>
                                        </select>
                                        <span style="padding:10px">entries</span>
                                    </div>
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6">
                                        <dir-pagination-controls boundary-links="true"
                                            on-page-change="pageChangeHandler(newPageNumber)"
                                            pagination-id="tablePagination_1"></dir-pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row textCenter divTableHeader" ng-if="vm.loadsetReadyList.length != 0">
                            <div class="divTableHeader flex textCenter">
                                <div style="flex:0.3"></div>
                                <div class="flex-1">
                                    <span class="noClickProp" ng-click="macroSort('id')">
                                        Plan ID
                                    </span>
                                    <span class="pull-right">
                                        <i
                                            class="fa fa-long-arrow-down {{sortColumn['id'].asc ? '' : 'sortDisabled'}}"></i>
                                        <i
                                            class="fa fa-long-arrow-up {{sortColumn['id'].desc ? '' : 'sortDisabled'}}"></i>
                                    </span>
                                </div>
                                <div class="flex-1">
                                    <span class="noClickProp" ng-click="macroSort('loadType')">
                                        Load Type
                                    </span>
                                    <span class="pull-right">
                                        <i
                                            class="fa fa-long-arrow-down {{sortColumn['loadType'].asc ? '' : 'sortDisabled'}}"></i>
                                        <i
                                            class="fa fa-long-arrow-up {{sortColumn['loadType'].desc ? '' : 'sortDisabled'}}"></i>
                                    </span>
                                </div>
                                <div class="flex-1">
                                    Target System
                                </div>
                                <div class="flex-1">
                                    <span class="noClickProp" ng-click="macroSort('loaddatetime')">
                                        Load Date/Time
                                    </span>
                                    <span class="pull-right">
                                        <i
                                            class="fa fa-long-arrow-down {{sortColumn['loaddatetime'].asc ? '' : 'sortDisabled'}}"></i>
                                        <i
                                            class="fa fa-long-arrow-up {{sortColumn['loaddatetime'].desc ? '' : 'sortDisabled'}}"></i>
                                    </span>
                                </div>
                                <div class="flex-1">
                                    Category
                                </div>
                                <div class="flex-1">
                                    Action
                                </div>
                            </div>
                        </div>
                        <div dir-paginate="pObj in vm.loadsetReadyList | filter: q | itemsPerPage: tableConfig.pageSize"
                            total-items="tableConfig.totalItems" current-page="tableConfig.currentPage"
                            pagination-id="tablePagination_1">
                            <div class="flex divFlexBody textCenter hoverCurrentRow">
                                <div style="flex:0.3" class="fContent">
                                    <a ng-if="pObj.expanded" ng-click="pObj.expanded = false;" aria-label="{{pObj.id}}">
                                        <i class="fa fa-minus-square" style="font-size: 1.2em;color:#ff5722;"></i>
                                    </a>
                                    <a ng-if="!pObj.expanded"
                                        ng-click="pObj.expanded = true;loadSystemImplApproverList(pObj);"
                                        aria-label="{{pObj.id}}">
                                        <i class="fa fa-plus-square" style="font-size: 1.2em;"></i>
                                    </a>
                                </div>
                                <div class="flex-1 fContent">
                                    {{pObj.id}}
                                </div>
                                <div class="flex-1 fContent">
                                    {{pObj.loadType}}
                                </div>
                                <div class="flex-3">
                                    <div class="flex flex-system-group" style="border-bottom:0px;"
                                        ng-repeat="syslrObj in pObj.systemLoadList">
                                        <div class="flex-1 fContent">
                                            {{syslrObj.systemId.name}}
                                        </div>
                                        <div class="flex-1 fContent">
                                            {{syslrObj.loadDateTime | dCheck}}
                                        </div>
                                        <div class="flex-1 fContent">
                                            <span
                                                title="{{syslrObj.loadCategoryId.description}}">{{syslrObj.loadCategoryId.name}}</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="flex-1 fContent">
												<button class="btn btn-warning btn-xs themeButton" aria-label="accept_{{pObj.id}}" ng-click="acceptMacroHeader(pObj.id)">
													<span ng-if="vm.loader[pObj.id].markasOnline">
														<i class="fa fa-spinner fa-pulse" style="color:white"></i>
													</span>
													Mark as Online
												</button>
											</div> -->
                                <div class="text-primary flex-1 fContent" ng-if="vm.progress_status[pObj.id]">
                                    <i class="fa fa-spinner fa-pulse"></i>
                                </div>
                                <div ng-if="!vm.progress_status[pObj.id]" class="flex-1 fContent dropdown">
                                    <button class="btn btn-warning btn-sm themeButton dropdown-toggle" type="button"
                                        aria-label="accept_{{pObj.id}}" data-toggle="dropdown">Select
                                        <span class="caret"></span>
                                    </button>
                                    <ul style="left: 0% !important;" class="dropdown-menu">
                                        <li>
                                            <a ng-click="acceptMacroHeader(pObj.id)">Approve</a>
                                        </li>
                                        <li>
                                            <a ng-click="rejectMacroHeader($event,pObj.id)">Reject</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row labelFix" style="margin:0px;" ng-if="pObj.expanded">
                                <div ng-include='templatePath+"/impPlan.template.html"'></div>
                            </div>
                        </div>
                        <div class="row" style="margin: 10px 0px;">
                            <div class="col-md-12">
                                <div ng-if="vm.loadsetReadyList.length !== 0" class="row">
                                    <div class="col-md-3" style="display: inline-flex;"
                                        ng-show="vm.loadsetReadyList.length < pageSizeList[0]"></div>
                                    <div class="col-md-3" style="display: inline-flex;"
                                        ng-show="vm.loadsetReadyList.length >= pageSizeList[0]">
                                        <span style="padding: 10px;">Show</span>
                                        <select class="form-control" style="padding:10px;width: 40%;"
                                            ng-change="switchPageSize()" ng-model="tableConfig.pageSize">
                                            <option value="{{psVal}}" ng-selected="{{psVal==tableConfig.pageSize}}"
                                                ng-repeat="psVal in pageSizeList">{{psVal}}</option>
                                        </select>
                                        <span style="padding:10px">entries</span>
                                    </div>
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6">
                                        <dir-pagination-controls boundary-links="true"
                                            on-page-change="pageChangeHandler(newPageNumber)"
                                            pagination-id="tablePagination_1"></dir-pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="commentModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title commentTitle">Add Comment</h4>
            </div>
            <div class="modal-body dm-popup">
                <div class="row margin-top-10">
                    <div class="col-md-12">
                        <label>Dev Manager Comment
                            <span ng-show="vm.comment.mandatoryComment" class="requiredField">*</span>
                        </label>
                        <textarea name="commenttext" ng-model="vm.comment.commentText"
                            ng-show="!vm.comment.mandatoryComment" class="commentDecision form-control"
                            style="width:100%;" placeholder="(Optional)"></textarea>
                        <textarea name="commenttext" ng-model="vm.comment.commentText"
                            ng-show="vm.comment.mandatoryComment" class="commentDecision form-control"
                            style="width:100%;" placeholder="(Required)" required="required"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-8 text-justify">
                        <span ng-if="vm.isMacroHeader">
                            NOTE: After approval, plan will be moved to Techincal Service Desk for marking it as
                            "Online"
                        </span>
                    </div>
                    <div class="col-md-4">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default themeButton"
                                data-dismiss="modal">Close</button>
                            <button type="submit" ng-show="!vm.comment.mandatoryComment"
                                class="btn btn-primary themeButton" data-ng-click="dmApprove(vm.comment)"
                                aria-label="approve_comment_{{pObj.id}}">Approve</button>
                            <button type="submit" ng-show="vm.comment.mandatoryComment"
                                class="btn btn-primary themeButton" data-ng-click="dmReject(vm.comment)"
                                aria-label="reject_comment_{{pObj.id}}">Reject</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>