<section class="content-header">

    </section>
    <style>
        td {
            overflow: hidden;
            /* this is what fixes the expansion */
            text-overflow: ellipsis;
            /* not supported in all browsers, but I accepted the tradeoff */
            white-space: nowrap;
            max-width: 200px;
        }
    
        .select2-remove-right {
            float: right !important;
            margin-left: 7px !important;
        }
    </style>
    <!-- Main content -->
    <section class="content scrollingFunction" id="scroll_function">
        <div class="col-md-12 animated slideInLeft">
            <div class="row">
                <div class="well well-sm" style="background-color:#fff;min-height:400px">
                    <div class="row">
                        <div class="col-md-5">
                            <button type="button" class="btn refreshButton" ng-click="refresh()"
                                aria-label="refreshFreezeDate"><i class="fa fa-refresh"></i>
                                Refresh
                            </button>
                        </div>
                        <div ng-class="!showAction() ? 'col-md-4' : 'col-md-3'">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-filter" style="color:#000;"></i>
                                </span>
                                <select style="height: 35px" class="form-control" id="filterSystem"
                                    ng-change="filterSelectedSystem(vm.filteredSystem)" ng-model="vm.filteredSystem">
                                    <option value="">All</option>
                                    <option ng-repeat="systemObj in systemList" ng-value="systemObj.id">
                                        {{systemObj.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1" ng-if="showAction()">
                            <button type="button" class="btn pull-right insertButton" ng-click="showInsertDialog($event)"
                                aria-label="insertFreezeDate"><i class="fa fa-save"></i>
                                Insert
                            </button>
                        </div>
                        <div class="col-md-3 text-right">
                            <span > Total number of items: <span class="templateCountSize"> {{vm.totalNumberOfItem}}</span> </span>
                        </div>
                    </div>
                    <div class="row" style="margin: 10px 0px;" ng-if="vm.freezeDataList.length !== 0">
                        <div class="col-md-12">
                            <div ng-if="vm.freezeDataList.length !== 0" class="row">
                                <div class="col-md-3" style="display: inline-flex;" ng-show="vm.totalNumberOfItem < pageSizeList[0]"></div>
                                <div class="col-md-3" style="display: inline-flex;" ng-show="vm.totalNumberOfItem >= pageSizeList[0]">
                                    <span style="padding: 10px;">Show</span>
                                    <select class="form-control" style="padding:10px;width: 40%;"
                                        ng-change="switchPageSize()" ng-model="tableConfig.pageSize">
                                        <option value="{{psVal}}" ng-selected="{{psVal==tableConfig.pageSize}}" ng-repeat="psVal in pageSizeList">{{psVal}}</option>
                                    </select>
                                    <span style="padding:10px">entries</span>
                                </div>
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <dir-pagination-controls boundary-links="true"
                                        on-page-change="pageChangeHandler(newPageNumber)" pagination-id="tablePagination">
                                    </dir-pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div ng-if="vm.freezeDataList.length == 0"
                                style="background-color:#fff;text-align:center;font-size:20px;padding:100px 0px;">
                                <b>No data found</b>
                            </div>
                            <table id="freezeDatesTable" class="table" ng-if="vm.freezeDataList.length > 0"
                                style="border-color:rgba(187, 187, 187, 0.17);">
                                <thead>
                                    <tr class="tableHeader alignText">
                                        <th>
                                            <span class="noClickProp" ng-click="sort('name')">
                                                Target System
                                            </span>
                                            <span class="pull-right">
                                                <i
                                                    class="fa fa-long-arrow-down {{sortColumn['name'].asc ? '' : 'sortDisabled'}}"></i>
                                                <i
                                                    class="fa fa-long-arrow-up {{sortColumn['name'].desc ? '' : 'sortDisabled'}}"></i>
                                            </span>
                                        </th>
                                        <th>
                                            <!-- <span class="noClickProp" ng-click="sort('loadCategoryId.name')"> -->
                                            Load Category
                                            <!-- </span> -->
                                            <!-- <span class="pull-right">
                                                <i class="fa fa-long-arrow-down {{sortColumn['loadCategoryId.name'].asc ? '' : 'sortDisabled'}}"></i>
                                                <i class="fa fa-long-arrow-up {{sortColumn['loadCategoryId.name'].desc ? '' : 'sortDisabled'}}"></i>
                                            </span> -->
                                        </th>
                                        <th>Reason</th>
                                        <th>
                                            <span class="noClickProp" ng-click="sort('from_date')">
                                                Start Date
                                            </span>
                                            <span class="pull-right">
                                                <i
                                                    class="fa fa-long-arrow-down {{sortColumn['from_date'].asc ? '' : 'sortDisabled'}}"></i>
                                                <i
                                                    class="fa fa-long-arrow-up {{sortColumn['from_date'].desc ? '' : 'sortDisabled'}}"></i>
                                            </span>
    
                                        </th>
                                        <th>End Date</th>
                                        <th ng-if="showAction()">Actions</th>
                                    </tr>
                                </thead>
                                <tbody class="frzDate">
                                    <!--ng-repeat="iList in vm.implList[impPlan.planid]"-->
                                    <tr dir-paginate="freezeD in vm.freezeDataList | filter: q | itemsPerPage: tableConfig.pageSize"
                                        total-items="tableConfig.totalItems" current-page="tableConfig.currentPage"
                                        pagination-id="tablePagination" class="hoverCurrentRow" style="text-align:center;">
                                        <td>{{freezeD.name}}</td>
                                        <td>
                                            <!-- <p title="{{freezeD.loadCategoryId.description}}"> -->
                                            {{freezeD.load_categories}}
                                            <!-- </p> -->
                                        </td>
                                        <td>{{freezeD.reason}}</td>
                                        <td>{{freezeD.from_date | getDateOnly}}</td>
                                        <td>{{freezeD.to_date | getDateOnly}}</td>
                                        <td ng-if="showAction()">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default btn-sm themeButton"
                                                    ng-click="showUpdateDialog($event,freezeD)"
                                                    aria-label="updateFreezeDate_{{freezeD.loadCategoryId.systemId.name}}_{{freezeD.loadCategoryId.name}}">
                                                    <i class="fa fa-edit"></i>
                                                    <md-tooltip md-direction='top'>Update</md-tooltip>
                                                </button>
                                                <button type="button" class="btn btn-default btn-sm themeButton"
                                                    ng-click="confirmDeleteFreezeDate($event, freezeD)"
                                                    aria-label="deleteFreezeDate_{{freezeD.loadCategoryId.systemId.name}}_{{freezeD.loadCategoryId.name}}">
                                                    <!--ng-click="vm.deactivateFreeze(freezeD.loadFreezeId)">-->
                                                    <i class="fa fa-trash"></i>
                                                    <md-tooltip md-direction='top'>Delete</md-tooltip>
                                                </button>
                                            </div>
                                        </td>
    
                                    </tr>
                                </tbody>
                            </table>
                        </div>
    
                    </div>
                    <div class="row" style="margin: 10px 0px;" ng-if="vm.freezeDataList.length !== 0">
                        <div class="col-md-12">
                            <div ng-if="vm.freezeDataList.length !== 0" class="row">
                                <div class="col-md-3" style="display: inline-flex;" ng-show="vm.totalNumberOfItem < pageSizeList[0]"></div>
                                <div class="col-md-3" style="display: inline-flex;" ng-show="vm.totalNumberOfItem >= pageSizeList[0]">
                                    <span style="padding: 10px;">Show</span>
                                    <select class="form-control" style="padding:10px;width: 40%;"
                                        ng-change="switchPageSize()" ng-model="tableConfig.pageSize">
                                        <option value="{{psVal}}" ng-selected="{{psVal==tableConfig.pageSize}}" ng-repeat="psVal in pageSizeList">{{psVal}}</option>
                                    </select>
                                    <span style="padding:10px">entries</span>
                                </div>
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <dir-pagination-controls boundary-links="true"
                                        on-page-change="pageChangeHandler(newPageNumber)" pagination-id="tablePagination">
                                    </dir-pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
    
    
                </div>
    
            </div>
        </div>
    </section>
    <!-- /.content -->