<section class="content animated slideInLeft scrollingFunction" id="scroll_function" style="padding:10px !important;">
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm margin-none" style="background-color:#fff;min-height:400px">
                    <div ng-if="vm.planDeployedInPreProdList.length == 0" style="background-color:#fff;text-align:center;font-size:20px;padding:100px 0px;">
                        <b>No implementation plans found</b>
                    </div>
                    <div ng-if="vm.planDeployedInPreProdList.length != 0">
                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col-md-2">
                                <input type="text" class="form-control" ng-model="vm.searchPlanData" placeholder="Search By Plan ID" />
                            </div>
                            <div class="col-md-4 padding-none">
                                <button type="button" class="btn btn-primary themeButton refreshButton" ng-click="searchPlanData(vm.searchPlanData)"
                                    aria-label="searchDeploymentChanges">
                                    <i class="fa fa-search"></i>
                                    Search
                                </button>
                            </div>
                            <div class="col-md-6 text-right">
                                <span ng-if="vm.planDeployedInPreProdList.length != 0" style="margin:0 10px;"> Total number of items: <span class="templateCountSize"> {{vm.totalNumberOfItem}}</span> </span>
                                <button type="button" class="btn btn-primary themeButton refreshButton" ng-click="refreshDatas()"
                                    aria-label="refreshDeploymentChanges">
                                    <i class="fa fa-refresh"></i>
                                    Refresh
                                </button>
                            </div>
                        </div>
                        <div class="row" style="margin: 10px 0px;">
                            <div class="col-md-12">
                                <div ng-if="vm.planDeployedInPreProdList.length != 0" class="row">
                                    <div class="col-md-3" style="display: inline-flex;" ng-show="vm.totalNumberOfItem < pageSizeList[0]"></div>
                                    <div class="col-md-3" style="display: inline-flex;" ng-show="vm.totalNumberOfItem >= pageSizeList[0]">
                                        <span style="padding: 10px;">Show</span>
                                        <select class="form-control" style="padding:10px;width: 40%;" ng-change="switchPageSize()"
                                            ng-model="tableConfig.pageSize">
                                            <option value="{{psVal}}" ng-selected="{{psVal==tableConfig.pageSize}}"
                                                ng-repeat="psVal in pageSizeList">{{psVal}}</option>
                                        </select>
                                        <span style="padding:10px">entries</span>
                                    </div>
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6">
                                        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                            pagination-id="tablePagination"></dir-pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divTableHeader flex textCenter">
                            <div class="flex-1"></div>
                            <div class="flex-1">Plan Id</div>
                            <div class="flex-2">Status</div>
                            <div class="flex-2">ADL</div>
                            <div class="flex-1">Target System</div>
                            <div class="flex-2">Load Date/Time</div>
                            <div class="flex-2">Loadset Name</div>
                            <div class="flex-2">Test Systems</div>
                            <div class="flex-1">Actions</div>
                        </div>
                        <div class="deploymentHeight" style="overflow: auto;">
                            <div dir-paginate="pObj in vm.planDeployedInPreProdList | filter: q | itemsPerPage: tableConfig.pageSize"
                                total-items="tableConfig.totalItems" current-page="tableConfig.currentPage" pagination-id="tablePagination">
                                <div class="flex divFlexBody textCenter hoverCurrentRow">
                                    <div class="flex-1 fContent">
                                        <a ng-if="pObj.expanded" ng-click="pObj.expanded = false;" aria-label="{{pObj.id}}">
                                            <i class="fa fa-minus-square" style="font-size: 1.2em;color:#ff5722;"></i>
                                        </a>
                                        <a ng-if="!pObj.expanded" ng-click="pObj.expanded = true;loadSystemImplApproverList(pObj);"
                                            aria-label="{{pObj.id}}">
                                            <i class="fa fa-plus-square" style="font-size: 1.2em;"></i>
                                        </a>
                                    </div>
                                    <div class="flex-1 fContent">
                                        <div class="flex-1 flex-justify"><b>{{pObj.id}}</b></div>
                                    </div>
                                    <div class="flex-2 fContent">
                                        <span plan-status-to-display-label="{{pObj.planStatus}}" style="white-space: inherit;"></span>
                                    </div>
                                    <div class="flex-2 fContent word-wrap-w">{{pObj.leadName}}</div>
                                    <div style="flex:7" class="flex-self-center">
                                        <div class="flex flex-system-group" ng-repeat="aLObj in pObj.vparList">
                                            <div class="flex-1 fContent">
                                                <div class="flex-1"> {{aLObj.systemId.name}}</div>
                                            </div>
                                            <div class="flex-2 fContent">
                                                <div class="flex-1">
                                                    <span ng-bind="getLoadDT(pObj, aLObj.systemId.id) | formattedDateTime">-</span>
                                                </div>
                                            </div>
                                            <div class="flex-2 fContent">
                                                <div class="flex-1">
                                                    <span ng-bind="getLoadSetName(pObj, aLObj.systemId.id) | emptyCheck">-</span>
                                                </div>
                                            </div>
                                            <div class="flex-2 fContent">
                                                <div class="flex-1" ng-if = "aLObj.systemId.platformId.nickName === 'tp'"> {{aLObj.displayName}}</div>
                                            
                                                <div class="flex-1" ng-if = "aLObj.systemId.platformId.nickName === 'dl'"> {{aLObj.name}}</div>
                                            </div>
    
                                        </div>
                                    </div>
                                    <div class="flex-1 fContent">
                                        <button class="btn btn-danger themeButton btn-xs" title="Reject" ng-click="rejectPlan($event, pObj.id)"
                                            aria-label="reject_{{pObj.id}}">
                                            <i class="fa fa-close"></i>Reject
                                        </button>
                                    </div>
                                </div>
                                <div class="row labelFix" style="margin:0px;" ng-if="pObj.expanded">
                                    <div ng-include='templatePath+"/impPlan.template.html"'></div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin: 10px 0px;">
                            <div class="col-md-12">
                                <div ng-if="vm.planDeployedInPreProdList.length != 0" class="row">
                                    <div class="col-md-3" style="display: inline-flex;" ng-show="vm.totalNumberOfItem < pageSizeList[0]"></div>
                                    <div class="col-md-3" style="display: inline-flex;" ng-show="vm.totalNumberOfItem >= pageSizeList[0]">
                                        <span style="padding: 10px;">Show</span>
                                        <select class="form-control" style="padding:10px;width: 40%;" ng-change="switchPageSize()"
                                            ng-model="tableConfig.pageSize">
                                            <option value="{{psVal}}" ng-selected="{{psVal==tableConfig.pageSize}}"
                                                ng-repeat="psVal in pageSizeList">{{psVal}}</option>
                                        </select>
                                        <span style="padding:10px">entries</span>
                                    </div>
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6">
                                        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                            pagination-id="tablePagination"></dir-pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.fContent -->