<md-dialog aria-label="Fallback" style="width:40%;">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 style="color:#fff;">
                    Reason to fallback {{fb.impPlanId}}
                </h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <textarea ng-model="fb.fallbackMessage" class="form-control" placeholder="Provide Reason to fallback" required></textarea>
                <span ng-show="fb.showMessageError" class="requiredField">*Required</span>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <md-button class="md-danger" ng-click="proceedFallback()">
                Fallback
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>