<div class="well col-md-12 col-sm-12 col-xs-12 rfc_reload" style="padding-top: 0px;margin: 0px;"
    ng-init="RFCClick(pObj)">
    <ul class="nav nav-tabs dataTabs" style="text-align:center;border: 0px;">
        <li ng-class="(currentRole != 'Developer' && currentRole != 'DLCoreChangeTeam') ? 'active' : ''">
            <a data-target="#implSystemDataTab_{{pObj.id}}_{{pObj.extraParams.randomNo}}" data-toggle="tab"
                aria-label="Implementation_Plan_Details_Tab_{{pObj.id}}">Implementation Plan Details</a>
        </li>
        <li ng-class="(currentRole == 'Developer' && currentRole != 'DLCoreChangeTeam') ? 'active' : ''">
            <a data-target="#implDataTab_{{pObj.id}}_{{pObj.extraParams.randomNo}}" data-toggle="tab"
                aria-label="Implementation_Details_Tab_{{pObj.id}}">Implementation</a>
        </li>

        <li>
            <a data-target="#approvalTab_{{pObj.id}}_{{pObj.extraParams.randomNo}}" data-toggle="tab"
                aria-label="Approvals_Tab_{{pObj.id}}">Approvals</a>
        </li>
        <li ng-if="pObj.extraParams.buildTabStatus.checkPlan || pObj.extraParams.buildTabStatus.checkImplementation">
            <a data-target="#buildTab_{{pObj.id}}_{{pObj.extraParams.randomNo}}" data-toggle="tab"
                aria-label="Build_Tab_{{pObj.id}}">

                Build</a>
        </li>
        <li>
            <a data-target="#activity_{{pObj.id}}_{{pObj.extraParams.randomNo}}" data-toggle="tab"
                aria-label="Activity_Tab_{{pObj.id}}">

                Activity Log</a>
        </li>
        <li>
            <a data-target="#dependencies_{{pObj.id}}_{{pObj.extraParams.randomNo}}" data-toggle="tab"
                aria-label="Dependencies_Tab_{{pObj.id}}">

                Dependencies</a>
        </li>
        <li>
            <a data-target="#tracker_{{pObj.id}}_{{pObj.extraParams.randomNo}}" data-toggle="tab"
                aria-label="Tracker_Tab_{{pObj.id}}">
                Tracker</a>
        </li>
        <li ng-if="pObj.rfcFlag"
            ng-class="(currentRole != 'Developer' && currentRole == 'DLCoreChangeTeam') ? 'active' : ''">
            <a data-target="#rfcProcess_{{pObj.id}}_{{pObj.extraParams.randomNo}}" data-toggle="tab"
                aria-label="RFC_Process_Tab_{{pObj.id}}">
                RFC Process</a>
        </li>
        <li class="pull-right margin-top-10">
            <label ng-repeat="iniObj in pObj.fileType" ng-class="iniObj">{{iniObj}}</label>
            <label class="label label-success" ng-if="pObj.macroHeader">MACRO_HEADER</label>
        </li>
    </ul>
    <div class="tab-content" style="margin-top: 20px;">
        <div class="tab-pane"
            ng-class="(currentRole != 'Developer' && currentRole != 'DLCoreChangeTeam') ? 'active' : ''"
            id="implSystemDataTab_{{pObj.id}}_{{pObj.extraParams.randomNo}}">
            <div ng-include='templatePath+"/impPlanDetails.template.html"'></div>
        </div>
        <div class="tab-pane"
            ng-class="(currentRole == 'Developer' && currentRole != 'DLCoreChangeTeam') ? 'active' : ''"
            id="implDataTab_{{pObj.id}}_{{pObj.extraParams.randomNo}}">
            <div>
                <div class="impl_{{pObj.id}}">
                    <div ng-if="pObj.implementationList.length == 0" class="textCenter">
                        No implementations found
                    </div>
                    <div ng-if="pObj.implementationList.length != 0">
                        <div class="row textCenter divSubTableHeader">
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-2">
                                Implementation ID
                            </div>
                            <div class="col-md-3">
                                Description
                            </div>
                            <div class="col-md-2">
                                Status
                            </div>
                            <div class="col-md-2">
                                Developer Name
                            </div>
                            <div class="col-md-2">
                                Actions
                            </div>
                        </div>
                        <div ng-repeat="iObj in pObj.implementationList | orderBy:'id'">
                            <div class="row divTableBody">
                                <div class="col-md-1 textCenter"
                                    ng-init="currentRole == 'Developer' ? iObj.showImpl[iObj.id]  : iObj.showImpl[iObj.id] = false">
                                    <a ng-if="iObj.showImpl[iObj.id]" ng-click="iObj.showImpl[iObj.id] = false;"
                                        aria-label="{{iObj.id}}">
                                        <i class="fa fa-minus-square" style="font-size: 1.2em;color:#ff5722;"></i>
                                    </a>
                                    <!-- loadSegmentandTestCasesList(iObj); -->
                                    <a ng-if="!iObj.showImpl[iObj.id]"
                                        ng-click="iObj.showImpl[iObj.id] = true;loadSegmentandTestCasesList(iObj);"
                                        aria-label="{{iObj.id}}">
                                        <i class="fa fa-plus-square" style="font-size: 1.2em;"></i>
                                    </a>
                                </div>
                                <div class="col-md-2 textCenter">
                                    {{iObj.id}}
                                </div>
                                <div class="col-md-3">
                                    {{iObj.impDesc}}
                                </div>
                                <div class="col-md-2 textCenter">
                                    <span imp-status-label="{{iObj.impStatus}}">{{iObj.impStatus | stateformat}}</span>
                                </div>
                                <div class="col-md-2 textCenter">
                                    {{iObj.devName}}
                                </div>
                                <!-- To display the Action only under Lead Expansion By Vishnu --->
                                <div class="col-md-2 textCenter">
                                    <div class="btn-group btnLeft" ng-show="currentRole == 'Lead' ">
                                        <button
                                            ui-sref="app.updateImp({planId:iObj.planId.id,impId:iObj.id,redirect:true})"
                                            class="btn btn-xs" style="background:#ddd;">
                                            <i class="fa  fa-edit" style="font-size:12px;"></i>
                                            <md-tooltip md-direction='top'>Edit</md-tooltip>
                                        </button>
                                        <button ng-disabled="!checkDeleteAccess(pObj.id,iObj.id)"
                                            ng-click="deleteImplementation($event, pObj, iObj.id)"
                                            style="background: #F44336 !important;color: #eee !important;"
                                            class="btn btn-xs">
                                            <md-tooltip md-direction='top'>Delete</md-tooltip>
                                            <span style="font-size: 12px;">
                                                <i class="fa fa-trash"></i>
                                            </span>
                                        </button>
                                        <!-- <button ng-if="iObj.reassignFlag == 'Y'" class="btn btn-xs" style="background:#3c8dbc;color:#eee !important;" ng-click="createWorkspace(iObj, pObj)">
                                                    <i class="fa fa-download"></i>
                                                    <md-tooltip md-direction='top'>Import implementation
                                                    </md-tooltip>
                                                </button> -->
                                        <!-- <button class="btn btn-xs btn-success themeButton" ng-if="iObj.tktNum == null  && iObj.subStatus === 'UnitTestingCompleted' && iObj.devId == vm.currentUser.id" ng-click="peerReviewRequest(iObj, pObj)">
                                                    <i class="fa fa-ticket"></i>
                                                    <md-tooltip md-direction='top'>Request for Peer Review
                                                    </md-tooltip>
                                                </button> -->
                                        <!-- <button class="btn btn-xs btn-success themeButton disabled" ng-if="iObj.reviewTktNumber != null  || iObj.subStatus !== 'UnitTestingCompleted'" title="Request for Peer Review" disabled>
                                                <i class="fa fa-ticket"></i>
                                                <md-tooltip md-direction='top'>Request for Peer Review
                                                </md-tooltip>
                                            </button> -->
                                        <!-- <button class="btn btn-xs btn-info themeButton" ng-click="createNewSourceArtifact($event,iObj.implementationId,iObj.planId)">
                                                    <i class="fa fa-file-o"></i>
                                                    <md-tooltip md-direction='top'>Create new source artifact
                                                    </md-tooltip>
                                                </button> -->
                                        <button class="btn btn-xs btn-info themeButton"
                                            ng-if="(iObj.devId === vm.currentUser.id || iObj.planId.leadId == vm.currentUser.id) && iObj.impStatus === 'READY_FOR_QA' && iObj.planId.planStatus === 'ACTIVE'"
                                            ng-click="revertBackToActive(iObj, pObj)">
                                            <i class="fa fa-reply"></i>
                                            <md-tooltip md-direction='top'>Revert back to Active State
                                            </md-tooltip>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row animated fadeIn labelFix" style="margin:0px;"
                                ng-if="iObj.showImpl[[iObj.id]]">
                                <div ng-include='templatePath+"/impl.template.html"'></div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="tab-pane" id="approvalTab_{{pObj.id}}_{{pObj.extraParams.randomNo}}">
            <div class="row">
                <!-- <div ng-if="!pObj.enableLoadApproval" style="text-align:center;">
                            No approvals found
                        </div>
                        <div ng-if="pObj.enableLoadApproval"> -->
                <div>
                    <div style="width:100%;font-weight:bold;background:#3c8dbc;">
                        <button type="button" class="btn btn-primary themeButton arrowButton" data-toggle="collapse"
                            style="border:0px;width:100%;text-align: left;" onclick="switchArrow(this)"
                            data-target="#approval_{{pObj.id}}">
                            <i class="fa fa-arrow-circle-down"></i>&nbsp; Approvals
                            <span class="pull-right">+/-</span>
                        </button>

                        <!--<button class="btn btn-success pull-right themeButton addApprover" plan-id="{{id}}">Add New</button>-->
                    </div>
                    <div id="approval_{{pObj.id}}" class="collapse in" style="border: 1px solid #ddd;">
                        <table class="table"
                            style="border-color:rgba(187, 187, 187, 0.17);width: 100%;margin-bottom:0px;">
                            <thead>
                                <tr class="tableHeader alignText"
                                    style="background: rgba(60, 142, 190, 0.31);color: #1f7bb0;">
                                    <th>Approver Name <span class="requiredField">*</span></th>
                                    <th>Comments</th>
                                    <th>Email Uploaded</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody style="background: #fff;">
                                <tr style="text-align:center;" ng-repeat="appObj in pObj.approvalsList">
                                    <td>
                                        {{appObj.approvedBy}}
                                    </td>
                                    <td>
                                        {{appObj.comments}}
                                    </td>
                                    <td>
                                        <div>
                                            <div>
                                                <a ng-click="downloadLoadApproverFile(pObj.id,appObj.fileName)"
                                                    style="color: black;text-decoration: underline !important;">{{appObj.fileName}}</a>
                                            </div>
                                            <div style="color:#aaa;">
                                                {{appObj.createdDt}}
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="btn-group">
                                            <button ng-disabled="checkApprovalDisable()" type="button"
                                                class="btn btn-default btn-sm themeButton"
                                                ng-click="showUpdateDialog($event,appObj)">
                                                <i class="fa fa-edit"></i>
                                                <md-tooltip md-direction='top'>Update</md-tooltip>
                                            </button>
                                            <button ng-disabled="checkApprovalDeleteDisable('delete')" type="button"
                                                class="btn btn-default btn-sm themeButton"
                                                ng-click="deleteApprover(pObj, appObj.id)">
                                                <i class="fa fa-trash"></i>
                                                <md-tooltip md-direction='top'>Delete</md-tooltip>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr style="text-align:center;" class="newRow">
                                    <td>
                                        <input class="form-control" ng-model="vm.exceptionApproavls.approvedBy"
                                            type="text" style="width: 100%;" />
                                    </td>
                                    <td>
                                        <input class="form-control" ng-model="vm.exceptionApproavls.comments"
                                            type="text" style="width: 100%;" />
                                    </td>
                                    <td>
                                        <input class="form-control" ngf-select ng-model="vm.exceptionApproavls.fileName"
                                            type="file" name="fileName" style="width: 100%;" />
                                    </td>
                                    <td style="padding: 10px;">
                                        <button ng-click="saveApprover(pObj)"
                                            class="btn btn-sm btn-primary themeButton">
                                            <i class="fa fa-upload"></i> &nbsp; Upload
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane textCenter" id="buildTab_{{pObj.id}}_{{pObj.extraParams.randomNo}}"
            ng-if="pObj.extraParams.buildTabStatus.checkPlan || pObj.extraParams.buildTabStatus.checkImplementation">
            <div class="row">
                <div class="col-md-9">
                    <div class="list-group" style="margin:2px">
                        <li class="list-group-item active list-grp-header">
                            <div class="row">
                                <div class="col-md-3 boldLi" style="text-align: left;">
                                    Build Information
                                </div>

                                <div class="col-md-5 padding-none">
                                    <span ng-show="vm.buildResult[pObj.id].buildDateTime | nCheck">
                                        Last Successfull build &nbsp;
                                        <span class="boldLi">
                                            <i class="fa fa-clock-o"></i>
                                            {{vm.buildResult[pObj.id].buildDateTime | formattedDateTime}}
                                        </span>
                                    </span>
                                </div>
                                <div class="col-md-4" style="text-align: right;">
                                    <span ng-show="vm.buildResult[pObj.id].buildDateTime | nCheck">
                                        <span ng-if="vm.buildResult[pObj.id].buildStatus == 'PARTIAL'">
                                            <span class="cross-line boldLi">
                                                <i class="fa fa-times"></i> Full Build
                                            </span> &nbsp;
                                            <span class="boldLi">
                                                <i class="fa fa-check"></i> Partial Build
                                            </span>
                                        </span>
                                        <span ng-if="vm.buildResult[pObj.id].buildStatus == 'FULL'">
                                            <span class="boldLi">
                                                <i class="fa fa-check"></i>
                                                Full Build</span> &nbsp;
                                            <span class="cross-line boldLi">
                                                <i class="fa fa-times"></i>
                                                Partial Build</span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </li>
                    </div>
                    <div ng-if="checkIsDeltaPlan(pObj.systemLoadList)" class="list-group"
                        style="border-radius: 0px;margin: 2px;">
                        <li class="list-group-item active list-grp-header pddds-align">
                            <div class="row form-inline">
                                <div class="col-md-3 boldLi" style="text-align: left;margin: 19px;">
                                    <md-checkbox style="margin-bottom: 0px" md-no-ink aria-label="Test PDDDS"
                                        ng-model="pObj.extraParams.pddds.choosePds" class="md-primary">
                                        TEST PDDDS
                                    </md-checkbox>
                                </div>

                                <div ng-show="pObj.extraParams.pddds.choosePds" class="testPddds">
                                    <div ng-if="pObj.extraParams.pddds.systemLists.indexOf('RES')>=0 || pObj.extraParams.pddds.systemLists.indexOf('AIR')>=0"
                                        class="col-md-4 padding-none">
                                        <label>RES/AIR
                                            <span class="requiredField"></span>
                                        </label>
                                        <md-input-container class="md-icon-float md-block multipleSelect2">
                                            <select name="loadResAir" id="loadResAir"
                                                ng-model="pObj.extraParams.pddds.loadResAir" class="form-control"
                                                multiple="multiple" aria-label="loadResAir">
                                                <option ng-value="item.id"
                                                    ng-repeat="item in pObj.extraParams.pddds.Res_Air_systemList">
                                                    {{ item.name }}
                                                </option>
                                            </select>
                                        </md-input-container>
                                    </div>

                                    <!-- <span style="color:#aaa;" ng-if="vm.loadWindowCategories[sList.id].length == 0 || vm.loadWindowCategories[sList.id] == null">
                                                                        No data found</span> -->
                                    <div ng-if="pObj.extraParams.pddds.systemLists.indexOf('OSS')>=0"
                                        class="col-md-4 testPddds">
                                        <label>OSS
                                            <span class="requiredField"></span>
                                        </label>
                                        <md-input-container class="md-icon-float md-block multipleSelect2">
                                            <select name="loadOSS" id="loadOSS"
                                                ng-model="pObj.extraParams.pddds.loadOSS" class="form-control"
                                                multiple="multiple" aria-label="loadOSS">
                                                <option ng-value="item.id"
                                                    ng-repeat="item in pObj.extraParams.pddds.Oss_systemlist">
                                                    {{ item.name }}
                                                </option>
                                            </select>
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </div>
                    <table class="table table-bordered">
                        <thead class="buildTableHeader" style="color:#fff;">
                            <tr>
                                <th class="textCenter" style="width:20%;">System</th>
                                <th class="textCenter" style="width:30%;">Progress</th>
                                <th class="textCenter" style="width:25%;">Devl Build/Loadset Logs</th>
                                <th class="textCenter" style="width:25%;">Staging Build / Loadset Logs</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="textCenter" style="background:#fff;" ng-repeat="sLoadObj in pObj.systemLoadList">
                                <td class="boldLi" style="width:20%;">{{sLoadObj.systemId.name}}

                                    <div style="text-align:left;">
                                        <span class="text-danger"
                                            ng-if="pObj.extraParams.dvlBuildErrors.enableBuildButton == 'N' && pObj.extraParams.dvlBuildErrors[sLoadObj.systemId.name]">
                                            <i class="fa fa-exclamation"></i>
                                            {{pObj.extraParams.dvlBuildErrors[sLoadObj.systemId.name]}}
                                            <br>
                                        </span>
                                        <span class="text-danger" ng-if="sLoadObj.loadDateTime == null">
                                            <i class="fa fa-exclamation"></i> Load Date Missing</span>

                                    </div>
                                </td>
                                <td style="width:30%;">
                                    <div ng-if="vm.buildInProgress[pObj.id][sLoadObj.systemId.name]"
                                        class="PG_{{pObj.id}}_{{sLoadObj.systemId.name}} progress progress-striped active margin-none">
                                        <div class="bar" role="progressbar" style="width:100%;"></div>
                                    </div>
                                    <div
                                        ng-if="!vm.buildInProgress[pObj.id][sLoadObj.systemId.name] && (vm.buildTriggered[pObj.id] == true || vm.buildTriggered[pObj.id] == false)">
                                        <label build-status
                                            build-status-label="{{vm.buildStatus[pObj.id][sLoadObj.systemId.name]}}"></label>
                                    </div>
                                    <!-- <div ng-if="pObj.buildInProgress" class="proBar"></div> -->
                                    <div ng-if="!vm.buildInProgress[pObj.id][sLoadObj.systemId.name] && vm.buildTriggered[pObj.id] == null"
                                        class="animated fadeIn">
                                        <label class="label label-warning">Idle</label>
                                    </div>
                                    <!-- <md-progress-linear md-mode="indeterminate"></md-progress-linear> -->
                                </td>
                                <td style="width:25%;">
                                    <span ng-show="vm.buildResult[pObj.id].showPreviousBuildLog">
                                        <a ng-click="showJenkinsLog($event, pObj.id, sLoadObj.systemId.name)">
                                            Previous build log
                                        </a>
                                    </span>
                                </td>
                                <td style="width:25%;">
                                    <span ng-show="vm.stageBuildResult[pObj.id].showPreviousStageBuildLog">
                                        <a ng-click="showStageJenkinsLog($event, pObj.id, sLoadObj.systemId.name)">
                                            Previous build log
                                        </a>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- <div style="color:#aaa;text-align: left;">
                                *All times are in ET
                            </div> -->
                </div>
                <div class="col-md-3">
                    <div class="list-group">
                        <li class="list-group-item active list-grp-header">
                            Actions
                        </li>
                        <!-- ng-click="triggerBuild(pObj,$event)" -->
                        <li class="list-group-item">
                            <div class="col-md-12">
                                <md-input-container class="md-icon-float rebuildspace_conent">
                                    <md-checkbox class="md-rebuild_content" ng-disabled="vm.rebuildDisableFlag"
                                        ng-model="vm.rebuildAllFlag" ng-change="changeRebuildFlag(vm.rebuildAllFlag)"
                                        aria-label="rebuildAll">
                                        Rebuild ALL
                                    </md-checkbox>
                                </md-input-container>
                            </div>
                            <button type="button"
                                ng-disabled="(updateBuildButton(vm.buildInProgress, pObj.id) || pObj.extraParams.dvlBuild == 'N'|| (checkLoadDate(pObj.systemLoadList) && currentRole == 'Developer') || vm.disbaleDevlBuild)  "
                                ng-click="checkValidateDateBuild($event,pObj)"
                                class="btn btn-success btn-block boldLi themeButton"
                                aria-label="CreateBuild_{{pObj.id}}">
                                <span ng-if="!updateBuildButton(vm.buildInProgress, pObj.id)">
                                    <i class="fa fa-wrench"></i>
                                    Create Build
                                </span>

                                <span ng-if="updateBuildButton(vm.buildInProgress, pObj.id)">
                                    <i class="fa fa-pulse fa-spinner"></i>
                                    Build in progress
                                </span>
                            </button>
                        </li>
                        <li class="list-group-item">
                            <button type="button" ng-disabled="!updateBuildButton(vm.buildInProgress, pObj.id)"
                                ng-click="cancelBuild(pObj)" class="btn btn-danger btn-block boldLi themeButton"
                                aria-label="CancelBuild_{{pObj.id}}">
                                <i class="fa fa-times"></i> Cancel Build
                            </button>
                        </li>
                        <!-- loader list -->
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-12">
                                    <md-input-container class="md-icon-float md-block spacingTwo">
                                        <md-radio-group ng-model="pObj.loaderType">
                                            <md-radio-button class="textLeft" value="{{lKey}}"
                                                ng-repeat="(lKey, lValue) in vm.loaderList[pObj.id]"
                                                aria-label="LoaderType_{{pObj.id}}">
                                                {{lValue}}
                                            </md-radio-button>
                                        </md-radio-group>
                                    </md-input-container>
                                </div>
                                <!-- <md-checkbox ng-model="pObj.eType" aria-label="Checkbox 1">
                                            E-Type
                                        </md-checkbox>
                                        <md-checkbox ng-model="pObj.auxLoad" aria-label="Checkbox 1">
                                            Aux Load
                                        </md-checkbox> -->
                            </div>
                            <button type="button"
                                ng-disabled="updateBuildButton(vm.buildInProgress, pObj.id) || vm.disableOLDR[pObj.id] || checkLoadDate(pObj.systemLoadList) || pObj.extraParams.dvlBuild == 'N' ||  !vm.loadSetGenerateFlag || vm.loaderFlag "
                                class="btn btn-primary btn-block boldLi themeButton" ng-click="generateOLDRTLDR(pObj)"
                                aria-label="GenerateOLDR_{{pObj.id}}">
                                <span ng-if="vm.loaderFileStatus[pObj.id] != true">
                                    <i class="fa fa-clone"></i>
                                    Generate Loadset(s)
                                </span>
                                <span ng-if="vm.loaderFileStatus[pObj.id] == true">
                                    <i class="fa fa-pulse fa-spinner"></i>
                                    In progress
                                </span>

                            </button>
                        </li>
                    </div>

                </div>
            </div>
        </div>
        <div class="tab-pane textCenter" id="activity_{{pObj.id}}_{{pObj.extraParams.randomNo}}">
            <div class="row">

                <div class="col-md-12">
                    <div class="row">
                        <form ng-submit="activityFilterText(pObj)">
                            <!-- <div class="col-md-9 text-right"> -->
                            <!-- <div class="col-md-12 leadTotalCount"> -->
                            <!-- <span > Total number of items: <span class="templateCountSize"> {{vm.totalNumberOfItem}}</span> </span> -->
                            <!-- </div> -->
                            <!-- </div> -->
                            <div class="input-group col-md-3 activityLogFilter">
                                <input type="text" ng-model="pObj.extraParams.activitySearchText" class="form-control"
                                    placeholder="filter">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-info btn-sm themeButton">Apply</button>
                                </span>
                            </div>

                        </form>
                    </div>
                    <div ng-if="pObj.activityLogList.length > 0" class="row">
                        <div class="col-md-3" style="display: inline-flex;"
                            ng-show="tableConfigV2[pObj.id+'_'+pObj.extraParams.randomNo].totalItems < pageSizeListV2[pObj.id+'_'+pObj.extraParams.randomNo][0]">
                        </div>
                        <div class="col-md-3" style="display: inline-flex;"
                            ng-show="tableConfigV2[pObj.id+'_'+pObj.extraParams.randomNo].totalItems >= pageSizeListV2[pObj.id+'_'+pObj.extraParams.randomNo][0]">
                            <span style="padding: 10px;">Show</span>
                            <select class="form-control" style="padding:10px;width: 40%;"
                                ng-change="switchPageSizeV2(pObj.id, pObj)"
                                ng-model="tableConfigV2[pObj.id+'_'+pObj.extraParams.randomNo].pageSize">
                                <option value="{{psVal}}" ng-selected="{{psVal==tableConfig.pageSize}}"
                                    ng-repeat="psVal in pageSizeListV2[pObj.id+'_'+pObj.extraParams.randomNo]">{{psVal}}
                                </option>
                            </select>
                            <span style="padding:10px">entries</span>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-6 shrinkPaginate">
                            <dir-pagination-controls boundary-links="true"
                                on-page-change="pageChangeHandlerV2(newPageNumber, pObj.id, pObj)"
                                pagination-id="pObj.id+'_'+pObj.extraParams.randomNo"></dir-pagination-controls>
                        </div>
                    </div>

                    <table id="activityLogTable_{{pObj.id}}_{{pObj.extraParams.randomNo}}" class="table actTable"
                        style="border-color:rgba(187, 187, 187, 0.17);">
                        <thead>
                            <tr class="tableHeader alignText">
                                <th style="width:15%;">
                                    <span class="noClickProp" ng-click="sortV2('createdDt',pObj.id, pObj)">
                                        Date/Time
                                    </span>
                                    <span class="pull-right">
                                        <i
                                            class="fa fa-long-arrow-down {{sortColumnV2[pObj.id+'_'+pObj.extraParams.randomNo].createdDt.asc ? '' : 'sortDisabled'}}"></i>
                                        <i
                                            class="fa fa-long-arrow-up {{sortColumnV2[pObj.id+'_'+pObj.extraParams.randomNo].createdDt.desc ? '' : 'sortDisabled'}}"></i>
                                    </span>
                                </th>
                                <th style="width:15%;">
                                    <span class="noClickProp" ng-click="sortV2('createdBy',pObj.id, pObj)">
                                        Activity by
                                    </span>

                                    <span class="pull-right">
                                        <i
                                            class="fa fa-long-arrow-down {{sortColumnV2[pObj.id+'_'+pObj.extraParams.randomNo].createdBy.asc ? '' : 'sortDisabled'}}"></i>
                                        <i
                                            class="fa fa-long-arrow-up {{sortColumnV2[pObj.id+'_'+pObj.extraParams.randomNo].createdBy.desc ? '' : 'sortDisabled'}}"></i>
                                    </span>
                                </th>
                                <th>Activity
                                </th>
                            </tr>
                        </thead>
                        <tbody class="impPlanCls" ng-if="pObj.activityLogList.length > 0">
                            <!-- filterText(activityObj, pObj.extraParams.activitySearchText) -->
                            <tr dir-paginate="activityObj in pObj.activityLogList | itemsPerPage: tableConfigV2[pObj.id+'_'+pObj.extraParams.randomNo].pageSize"
                                total-items="tableConfigV2[pObj.id+'_'+pObj.extraParams.randomNo].totalItems"
                                current-page="tableConfigV2[pObj.id+'_'+pObj.extraParams.randomNo].currentPage"
                                pagination-id="{{pObj.id}}_{{pObj.extraParams.randomNo}}"
                                class="{{activityObj.logLevel == 'INFO' ? 'pureWhite' : (activityObj.logLevel == 'ERROR' ? 'bg-danger' : 'bg-info') }}">
                                <td class="col-md-2">
                                    {{activityObj.createdDt | formattedDateTime}}
                                </td>
                                <td class="col-md-3">
                                    {{activityObj.createdBy}}
                                </td>
                                <td style="text-align: left;">
                                    {{activityObj.message}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-if="pObj.activityLogList.length == 0" class="textCenter">
                        No data found
                    </div>
                </div>
            </div>

            <div ng-if="pObj.activityLogList.length > 0" class="row">
                <div class="col-md-3" style="display: inline-flex;"
                    ng-show="tableConfigV2[pObj.id+'_'+pObj.extraParams.randomNo].totalItems < pageSizeListV2[pObj.id+'_'+pObj.extraParams.randomNo][0]">
                </div>
                <div class="col-md-3" style="display: inline-flex;"
                    ng-show="tableConfigV2[pObj.id+'_'+pObj.extraParams.randomNo].totalItems >= pageSizeListV2[pObj.id+'_'+pObj.extraParams.randomNo][0]">
                    <span style="padding: 10px;">Show</span>
                    <select class="form-control" style="padding:10px;width: 40%;"
                        ng-change="switchPageSizeV2(pObj.id, pObj)"
                        ng-model="tableConfigV2[pObj.id+'_'+pObj.extraParams.randomNo].pageSize">
                        <option value="{{psVal}}" ng-selected="{{psVal==tableConfig.pageSize}}"
                            ng-repeat="psVal in pageSizeListV2[pObj.id+'_'+pObj.extraParams.randomNo]">{{psVal}}
                        </option>
                    </select>
                    <span style="padding:10px">entries</span>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-6 shrinkPaginate">
                    <dir-pagination-controls boundary-links="true"
                        on-page-change="pageChangeHandlerV2(newPageNumber, pObj.id, pObj)"
                        pagination-id="pObj.id+'_'+pObj.extraParams.randomNo"></dir-pagination-controls>
                </div>
            </div>
        </div>
        <div class="tab-pane textCenter" id="dependencies_{{pObj.id}}_{{pObj.extraParams.randomNo}}">
            <div ng-if="pObj.dependenciesList.length > 0" class="row">
                <div class="col-md-3" style="display: inline-flex;" ng-show="tableConfigV3[pObj.id+'_'+pObj.extraParams.randomNo].totalItems < pageSizeList[0]">
                </div>
                <div class="col-md-3" style="display: inline-flex;" ng-show="tableConfigV3[pObj.id+'_'+pObj.extraParams.randomNo].totalItems >= pageSizeList[0]">
                    <span style="padding: 10px;">Show</span>
                    <select class="form-control" style="padding:10px;width: 40%;"
                        ng-change="dependencyswitchPageSizeV2(pObj.id, pObj)"
                        ng-model="tableConfigV3[pObj.id+'_'+pObj.extraParams.randomNo].pageSize">
                        <option value="{{psVal}}"
                            ng-repeat="psVal in pageSizeListV3[pObj.id+'_'+pObj.extraParams.randomNo]">{{psVal}}
                        </option>
                    </select>
                    <span style="padding:10px">entries</span>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-6 shrinkPaginate">
                    <dir-pagination-controls boundary-links="true"
                        on-page-change="dependencypageChangeHandlerV2(newPageNumber, pObj.id, pObj)"
                        pagination-id="pObj.id+'_'+pObj.extraParams.randomNo+'_dependancy'"></dir-pagination-controls>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table id="dependeciesTable_{{pObj.id}}_{{pObj.extraParams.randomNo}}" class="table actTable"
                        style="border-color:rgba(187, 187, 187, 0.17);">
                        <thead>
                            <tr class="tableHeader alignText">
                                <th style="width:15%;">
                                    Plan #
                                    <!-- <span class="noClickProp" ng-click="sortV2('createdDt',pObj.id, pObj)">
                                                Plan #
                                            </span>
                                            <span class="pull-right">
                                                <i class="fa fa-long-arrow-down {{sortColumnV2[pObj.id+'_'+pObj.extraParams.randomNo].createdDt.asc ? '' : 'sortDisabled'}}"></i>
                                                <i class="fa fa-long-arrow-up {{sortColumnV2[pObj.id+'_'+pObj.extraParams.randomNo].createdDt.desc ? '' : 'sortDisabled'}}"></i>
                                            </span> -->
                                </th>
                                <th>Target System
                                </th>
                                <th>Load type
                                </th>
                                <th>Status
                                </th>
                                <th>Load date/time
                                </th>
                                <th>Segments
                                </th>
                            </tr>
                        </thead>

                        <tbody class="impPlanCls" ng-if="pObj.dependenciesList.length > 0">
                            <!-- filterText(activityObj, pObj.extraParams.activitySearchText) -->

                            <tr dir-paginate="dependenciesObj in pObj.dependenciesList | itemsPerPage: tableConfigV3[pObj.id+'_'+pObj.extraParams.randomNo].pageSize"
                                total-items="tableConfigV3[pObj.id+'_'+pObj.extraParams.randomNo].totalItems"
                                current-page="tableConfigV3[pObj.id+'_'+pObj.extraParams.randomNo].currentPage"
                                pagination-id="{{pObj.id}}_{{pObj.extraParams.randomNo}}_dependancy"
                                class="{{dependenciesObj.logLevel == 'INFO' ? 'pureWhite' : (dependenciesObj.logLevel == 'ERROR' ? 'bg-danger' : 'bg-info') }}">
                                <td class="col-md-2">
                                    {{dependenciesObj.planid}}
                                </td>
                                <td class="col-md-3">
                                    {{dependenciesObj.targetsystem}}
                                </td>
                                <td style="text-align: left;">
                                    {{dependenciesObj.loadtype}}
                                </td>
                                <td class="col-md-3">
                                    <span
                                        plan-status-to-display-label-for-source-Artifact="{{dependenciesObj.status}}"></span>
                                </td>
                                <td class="col-md-3">
                                    {{dependenciesObj.loaddatetime | formattedDateTime }}
                                </td>
                                <td class="col-md-3">
                                    {{dependenciesObj.segments}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-if="pObj.dependenciesList.length == 0" class="textCenter">
                        No data found
                    </div>
                </div>

            </div>
            <div ng-if="pObj.dependenciesList.length > 0" class="row">
                <div class="col-md-3" style="display: inline-flex;" ng-show="tableConfigV3[pObj.id+'_'+pObj.extraParams.randomNo].totalItems < pageSizeList[0]">
                </div>
                <div class="col-md-3" style="display: inline-flex;" ng-show="tableConfigV3[pObj.id+'_'+pObj.extraParams.randomNo].totalItems >= pageSizeList[0]">
                    <span style="padding: 10px;">Show</span>
                    <select class="form-control" style="padding:10px;width: 40%;"
                        ng-change="dependencyswitchPageSizeV2(pObj.id, pObj)"
                        ng-model="tableConfigV3[pObj.id+'_'+pObj.extraParams.randomNo].pageSize">
                        <option value="{{psVal}}"
                            ng-repeat="psVal in pageSizeListV3[pObj.id+'_'+pObj.extraParams.randomNo]">{{psVal}}
                        </option>
                    </select>
                    <span style="padding:10px">entries</span>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-6 shrinkPaginate">
                    <dir-pagination-controls boundary-links="true"
                        on-page-change="dependencypageChangeHandlerV2(newPageNumber, pObj.id, pObj)"
                        pagination-id="pObj.id+'_'+pObj.extraParams.randomNo+'_dependancy'"></dir-pagination-controls>
                </div>
            </div>
        </div>

        <!-- Tracker Tab starts -->

        <div class="tab-pane textCenter tracker-tab" id="tracker_{{pObj.id}}_{{pObj.extraParams.randomNo}}">
            <div ng-include='templatePath+"/planStatus.template.html"'></div>
        </div>
        <!-- Tracker Tab ends -->
        <!---RFC Process starts--->
        <div class="tab-pane textCenter rfc-tab" ng-click="vm.RFCClick(pObj)" ng-if="pObj.rfcFlag"
            ng-class="(currentRole != 'Developer' && currentRole == 'DLCoreChangeTeam')? 'active' : ''"
            id="rfcProcess_{{pObj.id}}_{{pObj.extraParams.randomNo}}">
            <div ng-include='templatePath+"/rfcProcess.template.html"'></div>
        </div>
        <!---RFC Process Ends--->
    </div>
</div>