<md-dialog aria-label="lc" style="width: 30%;max-height: 65%;background: none;box-shadow: none;" class="dialogHeight">
    <form ng-cloak>
        <!--<md-toolbar>-->
        <!--<div class="md-toolbar-tools">-->
        <!--<label style="color:white;">Load Window</label>-->
        <!--</div>-->
        <!--</md-toolbar>-->

        <md-dialog-content>
            <div class="md-dialog-content" style="margin: 0px auto;width: 85%;">
                <div id="loadWindowCalendar"></div>
                <span class="pull-right" style="color: white;"><i class="fa fa-circle legendColor" ></i> Freeze Period</span>
                <span class="pull-right" style="color: white;"><i class="fa fa-circle" style="color: #ccc !important;"></i> No timeslot &nbsp;</span>
            </div>
        </md-dialog-content>

        <!--<md-dialog-actions layout="row">-->

        <!--<span flex></span>-->
        <!--<md-button ng-click="cancel()">-->
        <!--Cancel-->
        <!--</md-button>-->
        <!--<md-button class="md-primary" ng-click="vmid.submitInsertCategory(vmid.loadCategory)">-->
        <!--Insert-->
        <!--</md-button>-->

        <!--</md-dialog-actions>-->
    </form>
</md-dialog>